<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>*</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div id="content">
            <header id="mHeader">
                <h1>*</h1>
                <button id="btn">Click</button>
                <div id="mainNav">
                <nav>
                    <ul>
                        <li><a href="template.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pictures</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            </header>
<main id="PageContent">
    <h2>*</h2>
    <div id="Picture">
    <section>
        <h3>Picture Section</h3>
        <p>*</p>
        <img src=* alt=*/>
    </section>
</div>
<div id="Link">
    <section>
        <h3>Link Section</h3>
        <p>*</p>
        <a href="https://sc.edu/">uscWebsite</a>>
    </section>
</div>
<div id="Table"></div>
    <section>
        <h3>Table Section</h3>
        <table>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>*</td>
            </tr>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>*</td>
            </tr>
        </table> 
    </section>
</div>
<section>
    <h3>flexbox section</h3>
    <p>*</p>
    <div id="flexBox">
    <div class="flexContainer">
        <section class="col1of3">
            <h4>Column 1</h4>
        </section>
        <section class="col1of3">
            <h4>Column 1</h4>
        </section>
        <section class="col1of3">
            <h4>Column 1</h4>
        </section>
    </div>
</div>
</section>
</main>
<footer><p>@copy;email</p></footer>
        </div>
        <script src="script.js"></script>
    </body>
</html>